nav(class="navbar navbar-expand-sm navbar-light bg-light")  
      if session.passport
        span #{session.passport.user.username}  
        -var id = session.passport.user.id
          div(class="collapse navbar-collapse" id="navbarNavAltMarkup")
            div(class="navbar-nav")
              a(class="nav-item nav-link" class="nav-click" href="/welcome" ) home
              a(class="nav-item nav-link" class="nav-click" href=`/profile/${id}`) profile
              a(class="nav-item nav-link" class="nav-click" href="/overboard") overboard
              a(class="nav-item nav-link" class="nav-click" href="/dashboard") dashboard
              a(class="nav-item nav-link" class="nav-click" href="/") about ocean plastic
              form(method="POST")
                button(type="submit" formaction="/logout" class="btn btn-outline-info btn-lg") logout
      
