nav(class="navbar navbar-expand-sm navbar-light" class="nav")  
      if session.passport
        a(class="navbar-brand")
          span(class="navbar-brand mb-0 h1 text-light") #{session.passport.user.username}
          img(src="/images/turtle.svg" width="30" height="30" alt="")  
        -var id = session.passport.user.id
          div(class="collapse navbar-collapse" id="navbarNavAltMarkup")
            div(class="navbar-nav")
              a(class="nav-item nav-link" class="nav-click" href="/welcome" ) home
              a(class="nav-item nav-link" class="nav-click" href=`/profile/${id}`) profile
              a(class="nav-item nav-link" class="nav-click" href="/overboard") overboard
              a(class="nav-item nav-link" class="nav-click" href="/dashboard") smart choices
              a(class="nav-item nav-link" class="nav-click" href="/supdashboard") SUP
              a(class="nav-item nav-link" class="nav-click" href="/") about ocean plastic
              unless session.passport
              form(method="POST")
                button(type="submit" formaction="/logout" class="btn btn-outline-info btn-lg") logout
      
