doctype html
html
  head
    title login
    include stylesheets.pug

    link(href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet")
  
  include ./partials/nav.pug
  body(class="text-center" class="landing")
      div(class="postition-relative overflow-hidden p-3  p-md-5 m-md3 text-center" )
        div(class="col-md-5 p-lg-5 mx-auto my-5" class="info1")
          h1(class="display-4 font-weight-bold") credits</br>
            p(class="lead") Icons made by:
            a(class="lead" href="https://www.flaticon.com/authors/smashicons" title="Smashicons" class="lead") Smashicons 
            a(class="lead" href="https://www.flaticon.com/authors/twitter") Twitter 
            a(class="lead" href="https://www.freepik.com") Freepik 
            a(class="lead" href="https://www.flaticon.com/authors/turkkub") turkkub <br>

            a(class="lead" href="https://www.flaticon.com/" title="Flaticon") from flaticon.com<br>
            a(class="lead" href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank") is licensed by CC 3.0 BY
            p(class="lead") images
            a(class ="lead" href="https://www.freepik.com/free-vector/school-of-fishes-background-in-hand-drawn-style_2115500.htm") Designed by Freepik <br>
            a(class ="lead" href="https://www.freepik.com/free-vector/underwater-background-with-different-marine-species_2236170.htm") Designed by Freepik <br>
            a(class="lead" href='https://www.freepik.com/free-vector/school-of-fishes-background-with-deep-sea-in-flat-style_2109209.htm') Designed by Freepik <br>


   












//- turq school of fish <a href='https://www.freepik.com/free-vector/school-of-fishes-background-in-hand-drawn-style_2115500.htm'>Designed by Freepik</a>



//- 404 <a href='https://www.freepik.com/free-vector/blue-404-error-design_1534888.htm'>Designed by Freepik</a>

//- whale 404 <a href='https://www.freepik.com/free-vector/underwater-background-with-different-marine-species_2236170.htm'>Designed by Freepik</a>






                