html
  head
    title Product Details
    include stylesheets.pug
  body
    include ./partials/nav.pug
    

    unless result
      h1 you don't have any stats yet!

    
    block content
      h1 all the straws you've saved!
        h2 #{result.count}
    

        if session.passport
          button#addToOrder add product to order



