doctype html
html
  head
    title login
    include stylesheets.pug
    link(href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet")
  

  body(class="text-center" class="error")
    unless session.passport
    include ./partials/nav.pug
    div(class="container")
      div(class="postition-relative overflow-hidden p-3  p-md-5 m-md3 text-center")
        h1(class="lead font-weight-bold") There are 700 pieces of plastic in the ocean <br> for every human on earth <br>
          img(src="/images/drink.svg" class="rounded-circle" width="100" height="100" class="wave-it")
          img(src="/images/coffee.svg" class="rounded-circle" width="100" height="100" class="wave-it")
          img(src="/images/water.svg" class="rounded-circle" width="100" height="100" class="wave-it")
          img(src="/images/ecologism.svg" class="rounded-circle" width="100" height="100" class="wave-it")
          img(src="/images/jelly.svg" class="rounded-circle" width="100" height="100" class="wave-it")
          img(src="/images/garbage.svg" class="rounded-circle" width="100" height="100" class="wave-it")
          img(src="/images/sweater.svg" width="100"  height="100" class="wave-it")
          img(src="/images/plastic-cup.svg" width="80" height="80" class="wave-it")
          img(src="/images/hamburger.svg" class="rounded-circle" width="100" height="100" class="wave-it")
          img(src="/images/cutlery.svg" width="100" height="100" class="wave-it")

    div(class="cover-container d-flex h-100 p-1 mx-auto flex-column")
      header(class="masthead mb-auto")
        div(class="inner")
          h3(class="masthead-brand") 
            main(role="main" class="inner-cover")
              div(class="container")
              div(class="postition-relative overflow-hidden p-3  p-md-5 m-md3 text-center mb-5")
                h1(class="display-1 font-weight-bold") this is<br>the last<br>straw
                      p.lead
                        block content 
                          p.lead
                            button#showLogin(class="btn btn-outline-info btn-lg" class="landing-btn") login
                          p.lead
                            button#showRegister(class="btn btn-outline-info btn-lg" class="landing-btn") sign up

                div(class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3 bg-light")
                  div(class="mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden font-weight-bold")
                    div(class="my-3 py-3")
                      p(class="lead" class="blue-text") "Smart choices" are ones that prevent plastic from ever entering the waste stream
                      <br>
                      img(src="/images/wave.svg" class="rounded-circle" width="140" height="140" class="wave-it")
                      p(class="display-4") driving down the demand for single use plastic is a game where we all win 
                

                  div(class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center")
                        div(class="container" class="jumbotron")
                          div(class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center")
                            div(class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center")
                              h1(class="display-3" id="text700") My 700:<br> 467
                
        
                  div(class="mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden")
                    div(class="p-3" class="nav")
                      h2(class="display-4") How to save:
                      p(class="lead") count down from your 700 every time you make a choice to skip a plastic product 
                        div(class="row p-5" class="row justify-content-center")
                          div(class="card" class="reuse" style="width: 10rem;")
                            img(src="/images/drink.svg" class="rounded-circle" width="140" height="140" class="recycleThis" id="drink1")
                            div(class="card-body")
                            button(class="btn btn-outline-info btn-lg" id="my700btn") + 
                     
                div(class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3 bg-light")
                  div(class="mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden font-weight-bold")
                    div(class="my-3 py-3")
                      img(src="/images/002-water.svg" class="rounded-circle" width="140" height="140" class="wave-it")
                      h2(class="display-4" class="blue-text") Collecting data on your  choices  grows awareness and creates opportunity for change.

                  div(class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center")
                        .container
                          div(class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center" class="jumbotron")
                            div(class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center")
                              h1(class="lead") <br>
                              h1(class="display-4" id="reused") total reused:
                              h1(class="display-4" id="recycled") total recycled:

                
        
                  div(class="mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden")
                    div(class="p-3" class="nav")
                      h2(class="display-4") track your consumption of single use plastics:
                      p(class="lead") You can update based on what you reuse or recycle
                  
                        div(class="row p-5" class="row justify-content-center")
                          div(class="card" class="reuse" style="width: 10rem;")
                            img(src="/images/drink.svg" class="rounded-circle" width="140" height="140" class="recycleThis" id="drink")
                            div(class="card-body")
                            button(class="btn btn-outline-info btn-lg" id="swapReuse") reuse!
                            button(class="btn btn-outline-success btn-lg" class="recycle" class="recycleBtn" id="swapRecycle") recycle!
                     
              
                    

                div(class="postition-relative overflow-hidden p-3  p-md-5 m-md3 text-center" class="info1")
                  div(class="col-md-10 p-lg-5 mx-auto my-5")
                    h1(class="display-2 font-weight-bold") Make this the<br>last<br> straw</br>
                      img(src="/images/drink.svg" class="rounded-circle" width="140" height="140" class="wave-it")
                      img(src="/images/coffee.svg" class="rounded-circle" width="140" height="140" class="wave-it")
                      img(src="/images/water.svg" class="rounded-circle" width="140" height="140" class="wave-it")
                      img(src="/images/ecologism.svg" class="rounded-circle" width="140" height="140" class="wave-it")
                      img(src="/images/jelly.svg" class="rounded-circle" width="140" height="140" class="wave-it")
                      img(src="/images/garbage.svg" class="rounded-circle" width="140" height="140" class="wave-it")
                      img(src="/images/sweater.svg" width="140" class="rounded-circle" height="140" class="wave-it")
                      img(src="/images/plastic-cup.svg" width="100" height="100" class="wave-it")
                      img(src="/images/hamburger.svg" class="rounded-circle" width="100" height="100" class="wave-it")
                      img(src="/images/cutlery.svg" class="rounded-circle" width="140" height="140" class="wave-it")
                      

      
    script
      include ../client/clientapp/client.js 
      include ../client/clientapp/info.js
