doctype html
html
  head
    title login
    include stylesheets.pug
  body
    h1 ...this the last straw

  block content
    button#showLogin login
    button#showRegister sign up

    script
      include ../client/client.js
      
