doctype html
html
  head
    title login
    include stylesheets.pug
    link(href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet")
  

  body(class="text-center" class="landing")
    unless session.passport
    include ./partials/nav.pug
    div(class="cover-container d-flex h-100 p-1 mx-auto flex-column")
      header(class="masthead mb-auto")
        div(class="inner")
          h3(class="masthead-brand") 
            main(role="main" class="inner-cover")
              div(class="container")
                h1(class="h1 mb-2 font-weight-bold display-5") for every human on earth there are 700 pieces of plastic in the ocean
              div(class="postition-relative overflow-hidden p-3  p-md-5 m-md3 text-center")
                div(class="col-md-5 p-lg-5 mx-auto my-5" class="info1")
                  h1(class="display-3 font-weight-bold") this is the last straw
                    unless session.passport
                      p.lead
                        block content 
                          p.lead
                            button#showLogin(class="btn btn-outline-info btn-lg" class="landing-btn") login
                          p.lead
                            button#showRegister(class="btn btn-outline-info btn-lg" class="landing-btn") sign up

                div(class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3" class="info1")
                  div(class="mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden font-weight-bold")
                    div(class="my-3 py-3")
                      img(src="/images/wave.svg" class="rounded-circle" width="140" height="140" class="wave-it")
                      h2(class="display-5" class="blue-text") Collecting data on your  choices  grows awareness and creates opportunity for change.

      
        
                  div(class="mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden")
                    div(class="my-3 p-3" )
                      h2(class="display-4") How to use this app:
                      h2(class="display-5") Every time you make a smart choice, log it! Every smart choice is one that prevents a piece of plastic from entering the waste stream! Every smart choice will count down on your #700
                      h2(class="display-5") Every time you make use or buy single use plastic (sup), log it too! You can keep track of what you reuse or recycle
                    

                div(class="postition-relative overflow-hidden p-3  p-md-5 m-md3 text-center" class="info1")
                  div(class="col-md-10 p-lg-5 mx-auto my-5")
                    h1(class="display-2 font-weight-bold") Make this the last straw</br>
                      img(src="/images/drink.svg" class="rounded-circle" width="140" height="140" class="wave-it")
                      img(src="/images/coffee.svg" class="rounded-circle" width="140" height="140" class="wave-it")
                      img(src="/images/water.svg" class="rounded-circle" width="140" height="140" class="wave-it")
                      img(src="/images/ecologism.svg" class="rounded-circle" width="140" height="140" class="wave-it")
                      img(src="/images/jelly.svg" class="rounded-circle" width="140" height="140" class="wave-it")
                      img(src="/images/garbage.svg" class="rounded-circle" width="140" height="140" class="wave-it")
                      img(src="/images/sweater.svg" width="140" class="rounded-circle" height="140" class="wave-it")
                      img(src="/images/plastic-cup.svg" width="100" height="100" class="wave-it")
                      img(src="/images/hamburger.svg" class="rounded-circle" width="100" height="100" class="wave-it")
                      img(src="/images/cutlery.svg" class="rounded-circle" width="140" height="140" class="wave-it")
                      

      
    script
      include ../client/clientapp/client.js
      
