doctype html
html
  head
    title login
    include stylesheets.pug
    link(href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet")
  

  body(class="text-center" class="landing")
    unless session.passport
    include ./partials/nav.pug
    div(class="cover-container d-flex h-100 p-3 mx-auto flex-column")
      header(class="masthead mb-auto")
        div(class="inner")
          h3(class="masthead-brand") 
            main(role="main" class="inner-cover")
              h1(class="h1 mb-3 font-weight-bold" class="landing-heading" class="cover-heading" class="heading-landing") ...this is the last straw
              
              unless session.passport
                p.lead
                  block content 
                    p.lead
                      button#showLogin(class="btn btn-outline-info btn-lg" class="landing-btn") login
                    p.lead
                      button#showRegister(class="btn btn-outline-info btn-lg" class="landing-btn") sign up
              div(class="postition-relative overflow-hidden p-3  p-md-5 m-md3 text-center")
                div(class="col-md-5 p-lg-5 mx-auto my-5")
                  h1(class="display-4 font-weight-bold") for every human on earth there are 700 pieces of plastic in the ocean</br> 
                    a(class="btn btn-outline-secondary" href="https://www.washingtonpost.com/news/energy-environment/wp/2015/02/12/humans-are-putting-8-million-metric-tons-of-plastic-in-the-oceans-annually/?noredirect=on&utm_term=.e84e9b608a0e" target="_blank") learn more


                div(class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3" class="info1")
                  div(class="mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden")
                    div(class="my-3 py-3")
                      h2(class="display-5") Another headline
                        p(class="lead") there is an estimated 700 pieces of plastic in the ocean for every human on earth 
      
        
                  div(class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden")
                    div(class="my-3 p-3")
                      h2(class="display-5") There are many environmental groups hard at work to clear the waters, but they need our help! 
                        p(class="lead") so what can you do?
      
                    
                  div(class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3")
                    div(class="mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden")
                      div(class="my-3 py-3")
                        h2(class="display-5") Another headline
                          p(class="lead") there is an estimated 700 pieces of plastic in the ocean for every human on earth 

                div(class="postition-relative overflow-hidden p-3  p-md-5 m-md3 text-center")
                  div(class="col-md-10 p-lg-5 mx-auto my-5")
                    h1(class="display-2 font-weight-bold") A global waste management problem requires a global effort</br>
                      img(src="/images/cola.svg" class="rounded-circle" width="140" height="140" class="wave-it")
                      img(src="/images/coffee.svg" class="rounded-circle" width="140" height="140" class="wave-it")
                      img(src="/images/water.svg" class="rounded-circle" width="140" height="140" class="wave-it")
                      img(src="/images/ecologism.svg" class="rounded-circle" width="140" height="140" class="wave-it")
                      img(src="/images/jelly.svg" class="rounded-circle" width="140" height="140" class="wave-it")
                      img(src="/images/wave.svg" class="rounded-circle" width="140" height="140" class="wave-it")
                      img(src="/images/sweater.svg" class="rounded-circle" width="140" height="140" class="wave-it")
                      img(src="/images/wave.svg" class="rounded-circle" width="140" height="140" class="wave-it")


                      

                div(class="mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden" class="info1")
                    div(class="my-3 p-3")
                      h2(class="display-5") Make a direct impact:<br>
                        h2(class="display-4") Smart choices are ones where consumers deliberately choose to not use or buy a plastic product<br>
                        h2(class="display-3") By voting with our dollars we can dramatically increase demand for biodegrable alternatives<br>
                        h2(class="display-4") Reusing is way better than recycling
                        h2(class="display-3") The only way to 100% guarantee that a plastic product won't end up in the ocean is to keep it where you can see it 
                        h2(class="display-4") Many types of plastic can't be recycled at all, so always check the number on the item!
                
                    div(class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden")
                      div(class="my-3 p-3")
                        h2(class="display-5") How to use this app:<br>
                          h2(class="display-4") Every time you make a smart choice, log it!<br>
                          h2(class="display-3") Collecting data on the choices consumers make is essential to growing awareness<br>
                          h2(class="display-4") Every smart choice is one that prevents a piece of plastic from entering the waste stream! Every smart will count down on your #700 
                          h2(class="display-3") If you use plastic keep track of that too!
                          h2(class="display-4") You can challenge yourself to reuse and recyle what you use
                          

      
    script
      include ../client/clientapp/client.js
      
