html
  head
    title Product Details
    include stylesheets.pug
  
  body
    include ./partials/nav.pug
    
    
    unless result
      h1 uh oh we went overboard! 


    block content

    for anonymous in result[0]
      h1(id="#{anonymous.count}") all the plastic that hasnt gone overboard! #{anonymous.count}
      .container-fluid
        img(src="/images/whale.svg")

      
    
