html
  head
    title whale
    include stylesheets.pug
  
  body(class="landing")
    include ./partials/nav.pug
    
    
    unless result
      h1 uh oh we went overboard! 


    block content

    for anonymous in result[0]
      -let count = +`${anonymous.count}`
      -let countArray = new Array(count).fill('wave')
      h1(id="#{anonymous.count}") all the plastic that hasnt gone overboard! #{anonymous.count}
      .container-fluid
       h1 #{anonymous.count}
      
      .container
        div(class="row p-7")
          each wave in countArray
            div(class="card" class="wave-page" style="width: 10rem;")
              img(src="/images/wave.svg" class="rounded-circle" width="100" height="100" class="wave-it" class="mx-auto d-block")
    
