
html
  head
    title welcome
    include stylesheets.pug

  body(class="text-center")
    include ./partials/nav.pug
  block content
  for anonymous in result[0]
      -let count = +`${anonymous.count}`
      -let countArray = new Array(count).fill('wave') 
      -let today = new Date();
      -let dd = today.getDate();
      -let mm = today.getMonth()+1; //January is 0!
      -let yyyy = today.getFullYear();
      -if(dd<10) {
      - dd = '0'+dd
      -} 
      -if(mm<10) {
      -mm = '0'+mm
      -} 
      -today = mm + '/' + dd + '/' + yyyy;
      div(class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center" class="error")
            div(class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center")
              h1(class="display-3") total saved plastic:#{count}
              h1(class="display-4") #{today} 
      main(role="main")
      div(class="container marketing")
          unless session.passport
            h1(class="display-3") you must be logged in to see this page

          unless !session.passport
            div(class="row" class="nav")
              div(class="col")
                div(class="my-3 p-3")
                  div(class="text-center")
                    img(src="images/wave.svg" class="img-fluid" height="140" width="140")
                  h1(class="featurette-heading" class="welcome-heading") Smart Choice
                    span(class="welcome-subheading") <br> Make a wave every time you make a smart choice to not use plastic by choosing an alternative or forgoing it entirely
                    form(action="/savedplastic" method="POST")
                      label(for="SavedPlasticTypeId")  Plastic Type
                      select(name="SavedPlasticTypeId" placeholder="Select Plastic Type" required)
                        option(value="") smart choice
                        option(value="1") Straw
                        option(value="2") Cup Lid
                        option(value="3") Bottle
                        option(value="4") Bag
                        option(value="5") Jar
                        option(value="6") Box
                        option(value="7") Synthetic Clothing
                        option(value="8") Plastic Wrap
                        option(value="9") Cup
                        option(value="10") Utensils
                        option(value="11") Takeout
                      label(for="quantity") Quantity: 
                      input.text(id="quantity" name="quantity" type="number" required="required")
                      input.btn(type="submit" value="Submit" id="submit" class="btn btn-outline-info btn-lg")
                
              div(class="col")
                div(class="my-3 p-3")
                  div(class="text-center")
                    img(src="images/002-water.svg" class="img-fluid" height="140" width="140")
                  h1(class="featurette-heading" class="welcome-heading") Single Use Plastic Stream
                    span(class="welcome-subheading") <br> fill out the form to keep track of your consumption of single use plastic, you can still keep it out of the waste stream by reusing it!
                      form(action="/notsavedplastic" method="POST")
                        label(for="ReuseThisPlasticId" class="welcome-heading")  Plastic Type
                        select(name="ReuseThisPlasticId" placeholder="Select Plastic Type" required)
                          option(value="") SUP
                          option(value="1") Straw
                          option(value="2") Coffee Cup
                          option(value="3") Bottle
                          option(value="4") Bag
                          option(value="5") Jar
                          option(value="6") Box
                          option(value="7") Synthetic Clothing
                          option(value="8") Plastic Wrap
                          option(value="9") Cup
                          option(value="10") Utensils
                          option(value="11") Takeout
                        label(for="quantity" class="welcome-heading") Quantity: 
                        input.text(id="quantity" name="quantity" type="number" required="required")
                        input.btn(type="submit" value="Submit" id="submit" class="btn btn-outline-info btn-lg")

