
html
  head
    title welcome
    include stylesheets.pug

  body(class="text-center")
    include ./partials/nav.pug
  block content
  for anonymous in result[0]
      -let count = +`${anonymous.count}`
      -let countArray = new Array(count).fill('wave') 
      -let today = new Date();
      -let dd = today.getDate();
      -let mm = today.getMonth()+1; //January is 0!
      -let yyyy = today.getFullYear();
      -if(dd<10) {
      - dd = '0'+dd
      -} 
      -if(mm<10) {
      -mm = '0'+mm
      -} 
      -today = mm + '-' + dd + '-' + yyyy;
      
      div(class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto mb-5" class="jumbotron")
        div(class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto")
          h1(class="display-3 font-weight-bold")  the last straw
            div(class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center")
              div(class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center")
                h1(class="display-4") one click add
                p(class="lead") what does your waste stream look like?  
                  .container
                    div(class="row p-5" class="row justify-content-center")
                      div(class="card" class="reuse" class="oneClick" style="width: 10rem;" id=`oneClick1`)
                          img(src="/images/drink.svg" width="140" height="140" class="recycleThis" id=`img1`)
                          div(class="card-body")
                          a(class="btn btn-outline-info btn-lg" class="reuse" class="oneClickBtn" id=`1` href=`/saved/1`) straw
                      div(class="card" class="reuse" class="oneClick" style="width: 10rem;" id=`oneClick2`)
                          img(src="/images/coffee.svg" width="140" height="140" class="recycleThis" id=`img2`)
                          div(class="card-body")
                          button(class="btn btn-outline-info btn-lg" class="reuse" class="oneClickBtn" id=`2`) coffee cup
                      div(class="card" class="reuse" class="oneClick" style="width: 10rem;" id=`oneClick3`)
                          img(src="/images/water.svg" width="140" height="140" class="recycleThis" id=`img3`)
                          div(class="card-body")
                          button(class="btn btn-outline-info btn-lg" class="reuse" class="oneClickBtn" id=`3`) water bottle
                      div(class="card" class="reuse" class="oneClick" style="width: 10rem;" id=`oneClick4`)
                          img(src="/images/ecologism.svg" width="140" height="140" class="recycleThis" id=`img4`)
                          div(class="card-body")
                          button(class="btn btn-outline-info btn-lg" class="reuse" class="oneClickBtn" id=`4`) plastic bag
                      div(class="card" class="reuse" class="oneClick" style="width: 10rem;" id=`oneClick5`)
                          img(src="/images/jelly.svg" width="140" height="140" class="recycleThis" id=`img5`)
                          div(class="card-body")
                          button(class="btn btn-outline-info btn-lg" class="reuse" class="oneClickBtn" id=`5`) jar
                      div(class="card" class="reuse" class="oneClick" style="width: 10rem;" id=`oneClick6`)
                          img(src="/images/garbage.svg" width="140" height="140" class="recycleThis" id=`img6`)
                          div(class="card-body")
                          button(class="btn btn-outline-info btn-lg" class="reuse" class="oneClickBtn" id=`6`) plastic box
                      div(class="card" class="reuse" class="oneClick" style="width: 10rem;" id=`oneClick7`)
                          img(src="/images/sweater.svg" width="140" height="140" class="recycleThis" id=`img7`)
                          div(class="card-body")
                          button(class="btn btn-outline-info btn-lg" class="reuse" class="oneClickBtn" id=`7`) synethics
                      div(class="card" class="reuse" class="oneClick" style="width: 10rem;" id=`oneClick8`)
                          img(src="/images/garbage.svg" width="140" height="140" class="recycleThis" id=`img8`)
                          div(class="card-body")
                          button(class="btn btn-outline-info btn-lg" class="reuse" class="oneClickBtn" id=`8`) plastic wrap
                      div(class="card" class="reuse" class="oneClick" style="width: 10rem;" id=`oneClick9`)
                          img(src="/images/plastic-cup.svg" width="140" height="140" class="recycleThis" id=`img9`)
                          div(class="card-body")
                          button(class="btn btn-outline-info btn-lg" class="reuse" class="oneClickBtn" id=`9`) plastic cup
                      div(class="card" class="reuse" class="oneClick" style="width: 10rem;" id=`oneClick10`)
                          img(src="/images/cutlery.svg" width="140" height="140" class="recycleThis" id=`img10`)
                          div(class="card-body")
                          button(class="btn btn-outline-info btn-lg" class="reuse" class="oneClickBtn" id=`10`) utensils
                      div(class="card" class="reuse" class="oneClick" style="width: 10rem;" id=`oneClick11`)
                          img(src="/images/hamburger.svg" width="140" height="140" class="recycleThis" id=`img11`)
                          div(class="card-body")
                          button(class="btn btn-outline-info btn-lg" class="reuse" class="oneClickBtn" id=`11`) takeout

      main(role="main")
        div(class="container-fluid" class="nav" class="text-center")
              div(class="row")
                div(class="col" class="line")
                  div(class="my-3 p-3")
                    div(class="text-center")
                      img(src="images/wave.svg" class="img-fluid" height="140" width="140")
                    h1(class="featurette-heading" class="welcome-heading") Smart Choice <br>
                      span(class="lead") <br> Make a wave every time you make a smart choice to not use plastic by forgoing it or choosing an an alternative <br>
                      form(action="/savedplastic" method="POST")
                        label(for="SavedPlasticTypeId")  <br> Plastic Type <br>
                        select(name="SavedPlasticTypeId" placeholder="Select Plastic Type" required)
                          option(value="") smart choice
                          option(value="1") Straw
                          option(value="2") Coffee cup
                          option(value="3") Bottle
                          option(value="4") Bag
                          option(value="5") Jar
                          option(value="6") Box
                          option(value="7") Synthetic Clothing
                          option(value="8") Plastic Wrap
                          option(value="9") Cup
                          option(value="10") Utensils
                          option(value="11") Takeout
                        label(for="quantity") Quantity: <br>
                        input.text(id="quantity" name="quantity" type="number" required="required")
                        unless !session.passport
                          p <br> 
                          input.btn(type="submit" value="Submit" id="submit" class="btn btn-outline-info btn-lg")
                        unless session.passport
                          p <br>
                          input.btn(value="Login" class="btn btn-outline-light btn-lg")
                  
                div(class="col" class="line")
                  div(class="my-3 p-3")
                    div(class="text-center")
                      img(src="images/002-water.svg" class="img-fluid" height="140" width="140")
                    h1(class="featurette-heading" class="welcome-heading") Single Use Plastic Stream <br>
                      span(class="lead") <br> keep track of your consumption of single use plastic, you can still keep it out of the waste stream by reusing it!
                        form(action="/notsavedplastic" method="POST")
                          label(for="ReuseThisPlasticId" class="fix") <br> Plastic Type <br>
                          select(name="ReuseThisPlasticId" placeholder="Select Plastic Type" required)
                            option(value="") SUP
                            option(value="1") Straw
                            option(value="2") Coffee Cup
                            option(value="3") Bottle
                            option(value="4") Bag
                            option(value="5") Jar
                            option(value="6") Box
                            option(value="7") Synthetic Clothing
                            option(value="8") Plastic Wrap
                            option(value="9") Cup
                            option(value="10") Utensils
                            option(value="11") Takeout
                          label(for="quantity" class="fix") Quantity: <br> 
                          input.text(id="quantity" name="quantity" type="number" required="required" class="fix")
                          unless !session.passport
                            p <br>
                            input.btn(type="submit" value="Submit" id="submit" class="btn btn-outline-info btn-lg")
                          unless session.passport
                            p <br>
                            input.btn( value="Login" class="btn btn-outline-light btn-lg")
      div(class="jumbotron" class="my700")
        div(class="container")
          h1(class="display-4")  #{today} <br> total plastic saved: #{count}


        
        div(class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto")
              div(class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto")
                  a(class="btn btn-outline-info btn-lg" href='/credits' role="button") credits
        main(role="main")
        div(class="container marketing")

  script
    include ../node_modules/jquery/dist/jquery.min.js
    include ../client/clientapp/oneClick.js