.landing {
  background: url("/images/279864-P621DZ-927.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.landing-heading {
  color: white; }

.landing-btn {
  color: white; }

.login-heading {
  color: white; }

.clear-input {
  background-color: rgba(0, 0, 0, 0.001); }

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px white inset;
  /* Change the color to your own background color */
  -webkit-text-fill-color: #999; }

input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 50px white inset;
  -webkit-text-fill-color: #999; }

.welcome-heading {
  font-size: 2rem;
  color: #3cacf7; }

.welcome-subheading {
  color: black; }

.detail-body {
  background: url("/images/279864-P621DZ-927.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.9; }

.reuse {
  background-color: rgba(0, 0, 0, 0.01);
  border-color: rgba(0, 0, 0, 0.01); }

.reuseThis {
  display: none; }

.my700 {
  background-color: rgba(0, 0, 0, 0.001); }

#my700 {
  font-size: 12rem;
  color: white; }

.info1 {
  background-color: rgba(235, 225, 225, 0.5); }

.nav {
  background-color: rgba(235, 225, 225, 0.8); }

.jumbotron {
  background: url("/images/280312-P6UG69-636.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.wave-page {
  background-color: rgba(0, 0, 0, 0.01);
  border-color: rgba(38, 75, 243, 0); }

.detail-container {
  background-color: rgba(248, 244, 244, 0.884); }

.error {
  background: url("/images/280312-P6UG69-636.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.heading-landing {
  border: rgba(235, 225, 225, 0.5); }

.clear-container {
  background-color: rgba(235, 225, 225, 0.5); }

.whale {
  background: url("/images/whale404.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.total {
  color: white; }

.fix {
  display: inline-block;
  font-size: 2rem;
  font-weight: 500; }

select {
  font-size: 2rem; }

.blue-text {
  color: #3cacf7; }

.line {
  border: 10px solid white; }
