

//STYLES in order are as follows

//1.landing page styles line 7-23
//2.login form styles line 27-44
//3.nav styles lines 56-

//landing page styles

.landing {
  background: url("/images/279864-P621DZ-927.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.landing-heading{
  color: white;
  font-size: 12rem;
}


.landing-btn{
  color:white;
}


//login styles

.login-heading{
  color:white;
}

.clear-input{
  background-color: rgba(0, 0, 0, 0.001);
}

input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px white inset; /* Change the color to your own background color */
    -webkit-text-fill-color: #999;
}
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 50px white inset;
    -webkit-text-fill-color: #999;
}

//welcome styles
.welcome-heading{
  font-size:2rem;
  color: rgb(81, 206, 208)
}

.welcome-subheading{
  color:rgb(28, 107, 108)
}
//nav styles


//plastic detail 
.detail-body{
  background: url("/images/279864-P621DZ-927.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

//sup detail
.reuse{
  background-color: rgba(0, 0, 0, 0.01);
}


.reuseThis{
  display:none;
}

.helper-trigger,
.helper-show {
  display: none;
}
.helper-trigger[type="checkbox"]:checked {
  & + .helper-show {
    display: block;
    & + .helper-hide {
      display: none;
    }
  }
}