.landing {
  background: url("/images/279864-P621DZ-927.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.landing-heading {
  color: white;
  font-size: 12rem; }

.landing-btn {
  color: white; }

.login-heading {
  color: white; }

.clear-input {
  background-color: rgba(0, 0, 0, 0.001); }

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px white inset;
  /* Change the color to your own background color */
  -webkit-text-fill-color: #999; }

input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 50px white inset;
  -webkit-text-fill-color: #999; }

.welcome-heading {
  font-size: 2rem;
  color: #51ced0; }

.welcome-subheading {
  color: #1c6b6c; }

.detail-body {
  background: url("/images/279864-P621DZ-927.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.reuse {
  background-color: rgba(0, 0, 0, 0.01);
  border-color: rgba(0, 0, 0, 0.01); }
